.headerImg {
  width: 100px;
  height: 100px;
  margin-left: 10%;
  padding: 3%;
}
header {
  display: flex;
  width: 100%;
  max-width: 880px;
  background: lightblue;
}
header h1 {
  font-size: 40px;
  margin-left: 30%;
}
