.formStyle {
  margin-top: 1%;
}
input {
  width: 15%;
  height: 25px;
  margin-left: 3%;
  border-radius: 10px;
}
button {
  width: 8%;
  height: 30px;
  margin-left: 2%;
  font-size: 20px;
  border-radius: 10px;
}
.randomMeme {
  margin-top: 2%;
  margin-left: 10%;
}
.randImg {
  width: 700px;
  height: 500px;
  position: relative;
}
h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 30%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.topText {
  top: 0;
}
.bottomText {
  bottom: 0;
}
